.idea
.history
.DS_Store
node_modules
*.log
/application
/builder-ui
/builderCfg.json
/package-lock.json
/tsconfig.base.json
/SBIS3.CONTROLS

.nyc_output/
artifacts/

Router/router.js
Router/ServerRouting.js
Router/_private/**/*.js
