.idea
.history
.nyc_output/
.DS_Store
*.log
/node_modules
/application
/build-ui
/builderConfig.json
/package-lock.json
/tsconfig.json
/tslib.js
/tslint.json
/wasabyGlobalTypings.d.ts
/wasaby-cli_artifacts
/.wasaby-cli-store
Router/router.js
Router/ServerRouting.js
Router/_private/**/*.js
/tailwind.config.js
/**/tsconfig.json
/.eslintrc.js
/.stylelintrc.js
.stylelintignore
/.prettierrc.js
.prettierignore