.RecursivePopup {
   position: fixed;

   left: 900px;

   width: 600px;
   height: 200px;
   border: 1px solid #aaa;
   background-color: #eee;

   padding: 16px;
   box-sizing: border-box;
}

.RecursivePopup__Close {
   float: right;
   font-size: 20px;
   color: red;
   transform: scale(2);
}