.SampleRegistry {
   max-width: 400px;
   display: flex;
   flex-direction: column;
   border: 1px solid #ccc;
}

.SampleRegistry__row {
   display: flex;
   flex-direction: row;
   padding: 10px;
   cursor: pointer;
}

.SampleRegistry__row:hover {
   background: #f0f5fb;
}

.SampleRegistry__textCell {
   flex: 3;
}

.SampleRegistry__statusCell {
   flex: 1;
   color: #0055bb;
}

.SampleRegistry__link {
   display: contents;
   color: inherit;
   text-decoration: none;
}

.SampleRegistry__recursiveCheckbox {
   margin-top: 10px;
}
