.TabsBlock {
   width: 650px;
   height: 250px;
   border: 1px solid #bbb;
}

.TabsBlock__Tabs {
   border-bottom: 1px solid #eee;
}

.TabsBlock__Tabs ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
}

.TabsBlock__Tabs--Item {
   float: left;
}

.TabsBlock__Tabs--Item:hover {
   background: #ddd;
   border-bottom: 2px solid #ddd;
}

.TabsBlock__Tabs--ItemActive {
   border-bottom: 2px solid #ff7033 !important;
}

.TabsBlock__Tabs--Link {
   display: block;
   text-align: center;
   padding: 16px;
   text-decoration: none;
}

.TabsBlock__Content {
   padding: 16px;
}